.searchBackground #surfer {
    background-size: cover;
    height: 800px;
    width: 100%;
    filter: brightness(50%);
}

.featuredActivities {
    height: 500px;
}

.postBackground #canoeing {
    background-size: cover;
    height: 800px;
    width: 100%;
    filter: brightness(50%);
}

.featuredPosts {
    margin-bottom: 30px;
}

.actionCards {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}