.search {
    position: relative;
    height: 300px;
    background: url("../../../public/Assets/rocks.jpg");
    background-size: cover;
}

.searchBackground #surfer {
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    width: 100%;
    filter: brightness(60%);
}

.searchBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar h2 {
    color: #126e82;
    text-align: center;
    margin-bottom: 10px;
}

.searchInput {
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchInput input {
    border: none;
    height: 40px;
    width: 70%;
    padding: 0 10px;
}

.searchInput input:focus {
    outline: none;
}

.searchInput .icon {
    cursor: pointer;
}

.searchedPosts {
    position: relative;
    display: flex;
    justify-content: center;
    background: url("../../../public/Assets/canoeing.jpg");
    align-items: center;
    flex-wrap: wrap;
}

.searchedPosts .card {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    /* border-radius: 15px; */
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.searchedPosts .card .content {
    padding: 10px;
    text-align: center;
    transform: translateY(20px);
    transition: 0.5s;
}

.searchedPosts .card:hover .content {
    transform: translateY(0px);
}

.searchedPosts .card .content img {
    height: 200px;
    width: 280;
    overflow: hidden;
    padding: 10px;
}

.searchedPosts .card .content h4 {
    padding: 10px 0;
    font-size: 1.5em;
    color: white;
    z-index: 1;
}

.searchedPosts .card .content h6 {
    font-size: 0.8em;
    color: #d8e3e7;
    font-weight: bold;
    padding: 5px 0;
}

.searchedPosts .card .content h6 span {
    color: #51c4d3;
    font-weight: bold;
}

.searchedPosts .card .content p {
    margin: 0 10px;
    padding: 5px 5px;
    color: #d8e3e7;
    background-color: rgba(255, 255, 255, 0.174);

}

.searchedPosts .card .content button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 20px 0;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.searchedPosts .card .content button:hover {
    transform: translateY(-2px);
    background-color: rgb(233, 246, 254);
}

@media screen and (max-width: 700px) {
    .searchInput {
        width: 300px;
    }

}